table {
	border: 1px solid black;
  	width: 100%;
}

th {
	border: 1px solid black;
	height: 50px;
	text-align: center;
}
	
td {
	border: 1px solid black;
	padding: 15px;
	text-align: center;
}

div {
	align : center;
}